<ion-modal
  [isOpen]="isOpen()"
  [breakpoints]="[0, 0.5, 1]"
  [initialBreakpoint]="0.5"
  handleBehavior="cycle"
  (didDismiss)="handleDismiss()"
>
  <ng-template>
    <div class="container">
      <h3>Update Status</h3>
      <p>{{ todo().title }}</p>
      <div>
        @for (status of statusOptions; track status) {
          <label>
            {{ statusLabelMap[status] }}
            <input
              type="radio"
              name="status"
              [value]="status"
              [checked]="selectedStatus() === status"
              (change)="handleUpdateStatus({ id: todo().id, status: status })"
            />
          </label>
        }
      </div>
    </div>
  </ng-template>
</ion-modal>
