@use "../../theme/variables.scss" as *;

.container {
  margin-inline: $spacing-s;
  margin-block: $spacing-l;
}

.title-container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  gap: $spacing-xxs;
}

.time {
  font-size: $font-size-xs;
  color: $color-gray-400;
}

ion-icon {
  font-size: $font-size-xxl;
}
