.title-container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.time {
  font-size: 0.7em;
  color: oklch(70.7% 0.022 261.325);
}

ion-icon {
  font-size: 40px;
}
