<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="title-container">
        <h1 class="title">
          <time [attr.datetime]="isoDate" class="time">{{formattedDate}}</time>
          My Tasks
        </h1>
        <ion-icon name="person-circle-outline"></ion-icon>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <main class="container">
    <app-todo-input (addTask)="handleSubmitAddTask($event)"></app-todo-input>
    <app-todo-list
      [todos]="displayTodos()"
      (clickFilter)="handleClickFilter($event)"
      (clickItem)="handleClickItem($event)"
    ></app-todo-list>
    <app-todo-modal
      [isOpen]="isModalOpen()"
      [todo]="selectedTodo()"
      (dismiss)="handleDismissModal()"
    ></app-todo-modal>
  </main>
</ion-content>
